<h1>
  <img
    src="https://angular.io/assets/images/logos/angular/angular.svg"
    class="ng-icon"
  />
  <a href="https://angular.io/guide/route-animations"
    >Route transition animations (II)</a
  >
</h1>
<div class="mt" *ngIf="state >= 1" @fadeHeight>
  <h4>
    <a
      href="https://github.com/storkme/ng-anims-accessibility/blob/master/src/anims.ts#L71-L84"
    >
      Slide-in function
    </a>
  </h4>
  <pre><code [highlight]="code"></code></pre>
  <p class="muted">
    (<code>slideInFromRight</code> looks the same but with
    <code>right</code> swapped for <code>left</code>)
  </p>
</div>
